body {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2em;
  }
.header-image {
    width: device-width;
    height: 4em;
}

h1 {
    font-family: Raleway;
    color: white;
    height: 3em;
    background-color: blue;
    background-position: 10%;
    padding:bottom: 2em;
}
  
  .callout {
    padding: 1em;
    text-align: center;
    background-color: aliceblue;
  }
  
  .button {
  
  }
  
  footer {
    width: device-width;
    background-color: #efefef;
    padding-top: 2em;
    padding-bottom: 6em;
  }