body {
    background-color: #f2fcff;
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
}

#nav-container {
  padding-top: 1vh;
  height: 6vh;
  padding-bottom: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  z-index: 200;
  background: yellow;
  width: 100vw;
}

#center {
  align-content: center;
}


.nav-li {
  font-family: Raleway;
  display:inline;
  float: right;
  padding-left: 5vw;
  padding-right: 5vw;
  text-transform: uppercase;
}

#site-title {
  text-align: center;
  vertical-align: center;
  width: 100vw;
  /*margin-left: 5vw;*/
  font-family: Raleway;
  font-size: 2em;
  color: blue;
}

header {
  padding-top: 20%;
  padding-bottom: 4em;
  width: 100vw;
}


.better__header { /*straight-up stolen from buzzfeed for reference*/
  width: 100vw;
  height: 600vh;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 0;
  top: 0;
  clear: both;
  display: block;
}

.main-content {
  background-color: white;
  padding-top: 4em;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.parallax {
  /* The image used */
  background-image: url("https://i.imgur.com/I78yzWf.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  margin-left: 20%;
  margin-right:20%; 
  margin-bottom: 2em;
}

h1 {
    float: center;
    font-family: Raleway;
    color: blue;
    background-color: yellow;
    font-size: 4em;
    margin-bottom: 2em;
}

h2 {
    font-family: Raleway;
    color: blue;
    font-size: 2em;
    margin-bottom: 1em;
}

h3 {
    font-family: Raleway;
    font-size: 1.25em;
    height: 1em;
}

ol {
  font-family: 'Open Sans';
}

li {
  margin-bottom: 2em;
}

p {
    font-family: 'Open Sans';
}

a {
  color: blue;
}

a:hover {
  background-color: orangered;
  animation-delay: 2ms;
}

  .callout {
    padding: 1em;
    text-align: center;
    background-color: skyblue;
  }
  
  .button {
    background-color: orangered;
    font-family: Raleway;
    text-transform: uppercase;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
  }

  .button:hover {
    background-color: yellow;
    color: blue;
  }
  
  .list-illo {
        float: right;
  }

  footer {
    margin-left: 0%;
    margin-right: 0%;
    background-color: #efefef;
    padding-top: 2em;
    padding-bottom: 6em;
  }

  #footer-text {
    margin-left: 20%;
    margin-right: 20%;
  }